 @media screen and (max-width:900px) { 
    #hero {
        clip-path: ellipse(100% 100% at 55.85% 0%);
    }
}

@media screen and (max-width:767px) {
    .primary-nav {
        display: none;
    }

    .menu {
        display: block;
    }

    .hero-img {
        max-width: 420px;
        width: 100%;
    }

    #main-footer .container.footer-content {
        max-width: 100%;
        text-align: center;
    }

    #main-footer .company, #main-footer .links {
        padding: 20px 0;
    }

    #main-footer .copyright {
        text-align: center;
    }

}

@media screen and (max-width: 600px) {
    #hero {
        clip-path: ellipse(130% 100% at 55.85% 0%);
    }

    .main-content-img {
        max-width: 250px;
        margin-bottom: 30px;
    }


}

@media screen and (max-width: 575px) {
    .hero-img {
        max-width: 340px;
        width: 100%;
    }

    #about #hero, #careers #hero, #contact #hero {
        background-size: 124%;
        background-repeat: no-repeat;
        min-height: 280px;
    }

    #contact #hero {
        background-size: 144%;
    }

    .col-reverse {
        flex-direction: column-reverse;
    }

    #how-it-works .text-content {
        padding: 0 30px;
    }
}